.about-container {
    display:flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

#about-title {
    height: 20%;
    width: 100%;
    border-style: none none solid none;
    border-width: thin;
    text-align: center;
}

.bottom-section {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.section-detail {
    width: 30%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .section-details {
    width: 100%;
  }
}

#selfie-container {
    width: 100%;
}

#selfie {
    width: 250px;
    border-radius: 50%;
    height: 300px;
}
